{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="background-color: darkcyan;">
  <div class="row">
    <div class="col-auto">
      <h1>Lista de Gastos</h1>
    </div>
    <div class="col-auto">
      <a href="" class="btn btn-primary"
        data-toggle="modal"
        data-target="#addModal"
        hx-get="{% url 'gasto_create' %}"
        hx-target="#addContent"
        hx-swap="innerHTML">
        Adicionar
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input class="form-control" placeholder="Search..."
            name="q"
            hx-post="{ url 'city_search' %}"
            hx-trigger="input changed delay:500ms, search"
            hx-target="#bookTbody">
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Criado em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="bookTbody">
      {% include "./gasto_table.html" %}
    </tbody>
  </table>
</div>

{% include "./includes/detail_modal.html" %}
{% include "./includes/add_modal.html" %}
{% include "./includes/update_modal.html" %}

{% endblock content %}

{% block js %}
<script>

    ; (function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))

      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "addContent") {
          modal.show()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "addContent" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("addContent").innerHTML = ""
      })
    })()
</script>
{% endblock js %}
